{% extends 'base.html' %}
{%load static%}
{% load custom_tags %}
{% block title %}blog{% endblock %}
{% load humanize %}
{% block content %}
<main id="main">

  <!-- ======= Breadcrumbs ======= -->
  <section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

      <div class="d-flex justify-content-between align-items-center">
        <h2>Blog</h2>
        <ol>
          <li><a href="{% url 'website:index' %}">Home</a></li>
          <li>Blog</li>
        </ol>
      </div>

    </div>
  </section><!-- End Breadcrumbs -->

  <!-- ======= Blog Section ======= -->
  <section id="blog" class="blog">
    <div class="container" data-aos="fade-up">

      <div class="row">

        <div class="col-lg-8 entries">
          {{post}}
          {%for post in posts%}
          <article class="entry">

            <div class="entry-img">
              <img src="{{ post.image.url }}" alt="post" class="img-fluid">
            </div>

            <h2 class="entry-title">
              <a href="{% url 'blog:single' pid=post.id  %}">{{post.title}}</a>
            </h2>

            <div class="entry-meta">
              <ul>
                <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="blog-single.html">
                    {{post.author}}</a></li>
                <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a
                    href="@"><time>{{post.published_date|naturaltime}}</time></a></li>
                <li class="d-flex align-items-center"><i></i> <a href="#">
                    Counted Views: {{post.counted_views}}</a></li>
                {% for cat in post.category.all %}
                <li class="d-flex align-items-center"><i></i> <a
                    href="{% url 'blog:category' cat_name=cat.name %}">{{cat.name}}</a></li>
                {% endfor %}
              </ul>
            </div>

            <div class="entry-content">

              {{post.content|limit_words_with_ellipsis:11}}

              <div class="read-more">
                <a href="/blog{{post.id}}">Read More</a>
              </div>
            </div>

          </article>
          {% endfor %}
          <!-- End blog entry -->

          <div class="blog-pagination">
            <ul class="justify-content-center">
              {% for i in posts.paginator.page_range %}
              <li><a href="?page={{i}}">{{i}}</a></li>
              {% endfor %}
            </ul>
          </div>

        </div><!-- End blog entries list -->

        {% search_bar %}


        <!-- End sidebar search formn-->

        {% postcategories %}

        <!-- End sidebar categories-->
        <div>
          {% latestpost %}
        </div>
        <!-- End sidebar recent posts-->
        <h3 class="sidebar-title">Tags</h3>
        <div class="sidebar-item tags">
          <ul>
            {% for tag in all_tags %}
            <a href="{% url 'blog:tag' tag_name=tag.name %}">{{ tag.name }}</a>

            {% endfor %}
          </ul>
        </div>

      </div><!-- End sidebar -->

    </div><!-- End blog sidebar -->

    </div>

    </div>
  </section><!-- End Blog Section -->

</main><!-- End #main -->

{% endblock %}