{% extends 'base.html' %}
{%load static%}
{% block title %}Index{% endblock %}

{% block content %}


  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

      <div class="carousel-inner" role="listbox">

        <!-- Slide 1 -->
        <div class="carousel-item active" style="background-image: url('{% static "img/slide/slide-1.jpg" %}');">
          <div class="carousel-container">
            <div class="carousel-content animate__animated animate__fadeInUp">
              <h2>Welcome to <span>Digital News Reporter Academy</span></h2>
              <p>
                "Welcome to the News Reporter Academy! We're your gateway to the world of journalism. Join us to master reporting, storytelling, and ethics. Prepare for a dynamic career in news reporting!"</p>
              
            </div>
          </div>
        </div>

        <!-- Slide 2 -->
        <div class="carousel-item" style="background-image: url('{% static "img/slide/slide-2.jpg" %}');">
          <div class="carousel-container">
            <div class="carousel-content animate__animated animate__fadeInUp">
              <h2>Exceptional Teaching Team</h2>
              <p>"Our teachers at News Reporter Academy are the epitome of excellence. With vast industry experience, dedication, and expertise, they empower students to excel in the field of journalism."</p>
              
            </div>
          </div>
        </div>

        <!-- Slide 3 -->
        <div class="carousel-item" style="background-image: url('{% static "img/slide/slide-3.jpg" %}');">
          <div class="carousel-container">
            <div class="carousel-content animate__animated animate__fadeInUp">
              <h2>Certifications That Catapult Your Journalism Career</h2>
              <p>
                "At News Reporter Academy, our certifications are globally recognized and industry-respected. They validate your journalism skills and open doors to exciting career opportunities in the dynamic world of news reporting."</p>
              
            </div>
          </div>
        </div>

      </div>

      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bx bx-left-arrow" aria-hidden="true"></span>
      </a>

      <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bx bx-right-arrow" aria-hidden="true"></span>
      </a>

      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
      <div class="container">

        <div class="row">
          <div class="col-lg-9 text-center text-lg-left">
            <h3>We've graduates more than <span>200 students</span> this year!</h3>
            <p>"This year has been a time of change, growth, and resilience. Despite challenges, we've adapted, learned, and moved forward. Here's to embracing the opportunities and adventures that lie ahead."</p>
          </div>
          <div class="col-lg-3 cta-btn-container text-center">
            <a class="cta-btn align-middle" href="{% url 'website:contact' %}">Request contact</a>
          </div>
        </div>

      </div>
    </section><!-- End Cta Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container">

        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="icon-box" data-aos="fade-up">
              <div class="icon"><i class="bi bi-briefcase"></i></div>
              <h4 class="title"><a href="{% url 'blog:index' %}">Reporting and Writing</a></h4>
              <p class="description">This class teaches the fundamentals of news gathering, interviewing, and writing compelling news stories.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
              <div class="icon"><i class="bi bi-briefcase"></i></div>
              <h4 class="title"><a href="{% url 'blog:index' %}">Editing and Proofreading</a></h4>
              <p class="description">Learn the art of editing, fact-checking, and ensuring the accuracy and clarity of articles.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
              <div class="icon"><i class="bi bi-briefcase"></i></div>
              <h4 class="title"><a href="{% url 'blog:index' %}">Media Ethics and Law</a></h4>
              <p class="description"> Understand the ethical standards and legal aspects of journalism, including libel, copyright, and privacy.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
              <div class="icon"><i class="bi bi-briefcase"></i></div>
              <h4 class="title"><a href="{% url 'blog:index' %}">Digital Journalism</a></h4>
              <p class="description">Embrace the digital age by mastering online platforms, multimedia storytelling, and social media for news dissemination.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
              <div class="icon"><i class="bi bi-briefcase"></i></div>
              <h4 class="title"><a href="{% url 'blog:index' %}">Feature Writing</a></h4>
              <p class="description">Hone your skills in writing engaging feature articles, profiles, and human-interest stories.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
              <div class="icon"><i class="bi bi-briefcase"></i></div>
              <h4 class="title"><a href="{% url 'blog:index' %}">Investigative Journalism</a></h4>
              <p class="description">Explore in-depth research and investigative techniques to uncover and report on complex stories.</p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container">

        <div class="row" data-aos="fade-up">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-app">Digital classes</li>
              <li data-filter=".filter-card">News classes</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <img src="{% static 'img/portfolio/portfolio-1.jpg' %}" class="img-fluid" alt="IT class">
            <div class="portfolio-info">
              <h4>IT class 1</h4>
              <p>High level of tech</p>
              <a href="{% static 'img/portfolio/portfolio-1.jpg' %}" data-gallery="portfolioGallery"
                class="portfolio-lightbox preview-link" title="App 1"><i class="bx bx-plus"></i></a>
              </a>
            </div>
          </div>


          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <img src="{% static 'img/portfolio/portfolio-3.jpg' %}" class="img-fluid" alt="IT class">
            <div class="portfolio-info">
              <h4>IT class 2</h4>
              <p>High level of tech</p>
              <a href="{% static 'img/portfolio/portfolio-3.jpg' %}" data-gallery="portfolioGallery"
                class="portfolio-lightbox preview-link" title="App 2"><i class="bx bx-plus"></i></a>
              </a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <img src="{% static 'img/portfolio/portfolio-4.jpg' %}" class="img-fluid" alt="News class">
            <div class="portfolio-info">
              <h4>News class 1</h4>
              <p>high level tech</p>
              <a href="{% static 'img/portfolio/portfolio-4.jpg' %}" data-gallery="portfolioGallery"
                class="portfolio-lightbox preview-link" title="News class 1"><i class="bx bx-plus"></i></a>
              </a>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <img src="{% static 'img/portfolio/portfolio-6.jpg' %}" class="img-fluid" alt="IT class">
            <div class="portfolio-info">
              <h4>IT class 3</h4>
              <p>High level of tech</p>
              <a href="{% static 'img/portfolio/portfolio-6.jpg' %}" data-gallery="portfolioGallery"
                class="portfolio-lightbox preview-link" title="App 3"><i class="bx bx-plus"></i></a>
              </a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <img src="{% static 'img/portfolio/portfolio-7.jpg' %}" class="img-fluid" alt="News class">
            <div class="portfolio-info">
              <h4>News class 2</h4>
              <p>high level tech</p>
              <a href="{% static 'img/portfolio/portfolio-7.jpg' %}" data-gallery="portfolioGallery"
                class="portfolio-lightbox preview-link" title="News class 2"><i class="bx bx-plus"></i></a>
              </a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <img src="{% static 'img/portfolio/portfolio-8.jpg' %}" class="img-fluid" alt="News class">
            <div class="portfolio-info">
              <h4>News class 3</h4>
              <p>high level tech</p>
              <a href="{% static 'img/portfolio/portfolio-8.jpg' %}" data-gallery="portfolioGallery"
                class="portfolio-lightbox preview-link" title="News class 3"><i class="bx bx-plus"></i></a>
              </a>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= Our Clients Section ======= -->
    <section id="clients" class="clients">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Our <strong>Clients</strong></h2>
          <p>Our clients are the cornerstone of our business, and our relationship with them is paramount. We view our clients not merely as customers but as partners in our journey towards mutual growth and success.

            Each client represents a unique opportunity for collaboration and innovation. We take the time to understand their specific needs, challenges, and goals. This client-centric approach allows us to provide tailored solutions that precisely address their requirements.
            
            Our commitment to our clients is unwavering. We strive to build lasting relationships founded on trust, transparency, and reliability. From the moment a client joins our community, they become part of a network of support and expertise. We are not just service providers; we are allies in their endeavors.
            
            Listening to our clients is fundamental to our approach. Their feedback and insights guide our continuous improvement efforts. We adapt to their changing needs and evolving industries to ensure their success remains at the forefront of our efforts.
            
            The success stories of our clients are our proudest achievements. We celebrate their milestones, whether it's a new venture, a successful project, or reaching a significant goal. Their accomplishments fuel our motivation to deliver excellence consistently.
            
            In summary, our clients are not just recipients of our services; they are collaborators in our shared journey towards excellence. We are dedicated to their success and will continue to evolve and innovate to exceed their expectations, fostering partnerships that stand the test of time.</p>
        </div>
<!-- 
        <div class="row no-gutters clients-wrap clearfix" data-aos="fade-up">

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="{% static 'img/clients/client-1.png' %}" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="{% static 'img/clients/client-2.png' %}" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="{% static 'img/clients/client-3.png' %}" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="{% static 'img/clients/client-4.png' %}" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="{% static 'img/clients/client-5.png' %}" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="{% static 'img/clients/client-6.png' %}" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="{% static 'img/clients/client-7.png' %}" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="{% static 'img/clients/client-8.png' %}" class="img-fluid" alt="">
            </div>
          </div>

        </div> -->

      </div>
    </section><!-- End Our Clients Section -->

  </main><!-- End #main -->

{% endblock %}